* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-gray: #8b949e;
  --text-header: #ffffffb3;
  --line: #30363d;
  --link: #58a6ff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d1117;
  color: #c9d1d9;
}

a {
  text-decoration: none;
  color: var(--link);
}
